[build]
target = "x86_64-unknown-linux-musl"

[target.x86_64-unknown-linux-musl]
linker = "/usr/bin/clang-15"
rustflags = [ "-C", "relocation-model=static", "-C", "link-arg=--ld-path=mold" ]

#rustflags = [ "-C", "link-arg=--ld-path=mold" ]
#rustflags = [ "-C", "relocation-model=static", "-C", "link-arg=--ld-path=wild" ]

[target.x86_64-unknown-linux-gnu]
linker = "/usr/bin/clang-15"
rustflags = ["-C", "link-arg=--ld-path=mold"]

